.odd {
    background-color: #f5a297;
}

#second {
    color:#2705e6;
    font-size: 36px;
}

.third {
    font-size: 24px;
}

#fourth {
    background-color: #b0fcae;
    font-size: 24px;
    font-weight: bold;
}