@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 6px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(148, 148, 148);
}

.header {
  display: flex;
  margin: 8px;
  padding: 10px;
}

.header .left-links {
  display: flex;
  margin-right: auto;
  gap: 1rem;
}

.header .right-links {
  display: flex;
  gap: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin: 8px;
}

.footer {
  display: flex;
  background-color: #eeeeee;
  margin: 8px;
  padding: 10px;
}

.footer .left-links {
  display: flex;
  gap: 1rem;
  margin-right: auto;
}

.footer .right-links {
  display: flex;
  gap: 1rem;
}