* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

.main {
  display: flex;
  flex: 1;
}

.main .sidebar {
  flex: 1 0 auto;
  max-width: 300px;
  padding: 16px;
}

.main .sidebar ul {
  list-style-type: none;
}

.main .sidebar ul li a {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}

.main .card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 32px;
  gap: 32px;
}

.main .card-container .card {
  max-width: 300px;
  max-height: 300px;
  text-wrap: wrap;
}