body {
  font-family: Arial, Helvetica, sans-serif;
}
.para {
  font-size: 22px;
}

.small-para {
  font-size: 14px;
  font-weight: 800;
}

.para,
.small-para {
  color: hsl(0, 0%, 0%);
  font-weight: 800;
}


.button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}
.confirm {
  background: green;
  color: white;
  font-weight: bold;
} 




div.text {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 100;
}
.text .child {
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 14px;
}