* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  margin: 6px auto;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  align-self: auto;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

.left-links ul,
.right-links ul{
  display: flex;
  gap: 8px;



}

