.first {
    background-color: rgb(35, 32, 36);
    color: #ffffff;
    font-weight: bold;
}

.second {
    background-color: yellow;
}

.first,
.second {
    font-size: 28px;
    font-family: Helvetica, Times New Roman, sans-serif;
    
}

